* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: whitesmoke;
}

footer {
    background-color: darkred;
    padding: 15px 20px 30px 20px;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    color: whitesmoke;
}

img {
    width: 100%;
}

p {
    font-size: 22px;
}

.hero-image-h {
    background-image: url("./Te_Puia_Resources/hero.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image {
    background-image: url("./Te_Puia_Resources/hero.jpg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: whitesmoke;
    position: absolute;
    text-align: center;
    top: 250px;
    width: 100%;
    font-size: 2rem;
}

.navbar {
    background-color:darkred;
    display: grid;
    gap: 8px;
    justify-content: start;
    align-content: center;
    position: sticky;
    grid-template-columns: 70px 180px 150px 200px 170px;
    padding: 8px;
}

.navbutton {
    color: whitesmoke;
    background-color: rgb(75, 19, 19);
    padding: 3px 4px 3px 4px;
    text-align: center;
    text-decoration: none;
}

.currentnav {
    color: whitesmoke;
    background-color: rgb(75, 19, 19);
    padding: 3px 4px 3px 4px;
    text-align: center;
    outline: 1px solid rgb(32, 10, 10);
    text-decoration: none;
}

.footer_link {
    color: whitesmoke;
    font-size: 18px;
}

#location {
    padding: 4% 8% 4% 8%;
    background-color: rgb(240, 240, 240);
}

#location_img {
    width: 50%;
}

.maingrid {
    display: grid;
    justify-content: space-around;
    align-content: space-evenly;
    margin: 50px 5% 250px 5%;
    gap: 5%;
    grid-template-columns: auto auto auto auto;
    text-decoration: none;
}

.mainopt {
    background-color: darkred;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    justify-self: center;
}

.maintxt {
    align-self: center;
    text-decoration: none;
}

.main_img {
    width:100%;
}

.txtgrid {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 25px;
    margin: 90px 80px 75px 80px;
}

.quotebox {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    color: whitesmoke;
    background-color: rgb(110, 20, 20);
    row-gap: 0px;
    width: 100%;
    padding: 65px;
    margin: 20px 1px 80px 1px;
}

#quote {
    grid-column: 2 / 4;
    grid-row-start: 1;
    width: 100%;
    text-align: center;

}

#quote_giver {
    grid-column: 3 / 5;
    grid-row-start: 2;
    width: 100%;
    text-align: right;
}

#school_title {
    text-align: center;
    margin: 150px 50px 50px 50px;
}

.grey_grid {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 25px;
    padding: 0px 10px 0px 0px;
    margin-left: 80px;
    margin-right: 70px;
    background-color: rgb(242, 242, 242);
}

.option_grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    column-gap: 20px;
    row-gap: 20px;
    margin: 5px 35px 50px 35px;
}

.opt_content {
    display: grid;
    grid-template-columns: auto auto;
}

#titletxtgrid {
    display: grid;
    grid-template-columns: 700px 700px;
    gap: 25px;
    align-content: start;
    justify-content: center;
    margin: 0px 10% 50px 10%;
}

#mainheading {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

#kiwihouse {
    width: 95%;
    justify-content: left;
}

#kiwitxt {
    width: 95%;
    justify-content: right;
}

#gallery_title {
    text-align: center;
}

.gallery_photos {
    background-color: rgb(242, 242, 242);
    text-align: center;
}

#gallery_txt {
    width: auto;
    margin: 40px 150px 0px 150px;
    align-self: center;
    padding-top: 40px;
}

.three_column_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 240px 240px 240px;
    row-gap: 20px;
    padding: 10px 50px 100px 50px;
    margin: 0px 0px 30px 0px;
}

.gallery_img {
    height: 100%;
    width: auto;
    background-color: rgb(64, 63, 60);
    justify-self: center;
    align-self: center;
}

#gallery_site {
    text-align: center;
    margin: 125px;
}

.banner {
    background-color: rgb(110, 20, 20);
    color: whitesmoke;
    text-align: center;
    padding: 40px 12% 45px 12%;
    margin: 50px 2px 50px 2px;
}

.button {
    background-color: rgb(55, 104, 160);
    color: whitesmoke;
    padding: 8px;
    border-radius: 5px;
}