* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-image-h {
    background-image: url("./Te Puia Resources/hero.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image {
    background-image: url("./Te Puia Resources/hero.jpg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: rgb(240, 255, 245);
    position: absolute;
    text-align: center;
    top: 250px;
    width: 100%;
    font-size: 2rem;
}

.navbar {
    background-color:rgb(216, 216, 216);
    display: grid;
    gap: 5px 5%;
    justify-content: start;
    align-content: center;
    position: fixed;
}

.navbutton {
    color: rgb(19, 19, 19);
    background-color:dimgray;
    padding: 3px 4px 3px 4px;
    text-align: center;
}

.currentnav {
    color: rgb(19, 19, 19);
    background-color:dimgray;
    padding: 3px 4px 3px 4px;
    text-align: center;
    outline: 1px solid rgb(80, 80, 80);
}

.maingrid {
    display: grid;
    justify-content: space-between;
    margin: 50px 50px 75px 50px;
}

.mainopt {
    background-color: darkred;
    color: whitesmoke;
    text-align: center;
}

.main_img {
    width: auto;
}